In [1]:
# def cls_method(func):
#     def inner(*args,**kwargs):
#         print("hii")
#         func(*args,**kwargs)
#     return inner

In [2]:
class sample:
    x=[10,20,30,40,50]

#creating
sample.y={"a":10,"b":20}
#read
print(sample.x,sample.y)
#update
sample.x[1]=500
print(sample.x,sample.y)
#append
sample.y["c"]=30
sample.x+=["abc"]
sample.x+="abc"
print(sample.x,sample.y)
#del
del sample.x[5]
print(sample.x,sample.y)
del sample.x[2:7]
print(sample.x,sample.y)
del sample.y["a"]
print(sample.x,sample.y)

[10, 20, 30, 40, 50] {'a': 10, 'b': 20}
[10, 500, 30, 40, 50] {'a': 10, 'b': 20}
[10, 500, 30, 40, 50, 'abc', 'a', 'b', 'c'] {'a': 10, 'b': 20, 'c': 30}
[10, 500, 30, 40, 50, 'a', 'b', 'c'] {'a': 10, 'b': 20, 'c': 30}
[10, 500, 'c'] {'a': 10, 'b': 20, 'c': 30}
[10, 500, 'c'] {'b': 20, 'c': 30}

In [3]:
sample.__dict__

mappingproxy({'__module__': '__main__',
              'x': [10, 500, 'c'],
              '__dict__': <attribute '__dict__' of 'sample' objects>,
              '__weakref__': <attribute '__weakref__' of 'sample' objects>,
              '__doc__': None,
              'y': {'b': 20, 'c': 30}})

In [4]:
class demo:
       x=[10,20,30]

def display(cls):
    print(cls.x)
display(demo)

[10, 20, 30]

In [5]:
class demo:
       x=[10,20,30]

       def cls_display(cls):
            print(cls.x)
demo.cls_display()

TypeError: demo.cls_display() missing 1 required positional argument: 'cls'

In [ ]:
#to over come this above problem
class demo:
    x=[1,2,34,5]
    @classmethod
    def Display(cls):
        print(cls.x)
demo.Display()

[1, 2, 34, 5]

In [ ]:
#to over come this problem
class demo:
    x=[1,2,34,5]
    @classmethod
    def Display(cls):
        print(cls.x)
    @classmethod
    def Modify(cls,pos=0,val=0):
        pos=int(input("enter the position"))
        val=input("enter the number")
        cls.x[pos]=val
        print(cls.x)
demo.Display()
demo.Modify()

[1, 2, 34, 5]
[1, 2, '525', 5]

In [ ]:
#to over come this problem
class demo:
    x=[1,2,34,5]
    @classmethod
    def Display(cls):
        print(cls.x)
    @classmethod
    def Modify(cls,pos=0,val=0):
        pos=int(input("enter the position"))
        val=input("enter the number")
        cls.x[pos]=val
        print(cls.x)
    @classmethod
    def append(cls,app=0):
        app=input("enter the number")
        #cls.x.append(app)
        cls.x+=[app]
        print(cls.x)

demo.Display()
demo.append()

[1, 2, 34, 5]
[1, 2, 34, 5, '2565']

In [ ]:
class college:
    Coll_name="pys"
    def __init__(self,name,age):
        self.name=name
        self.age=age
    @classmethod
    def cls_display(cls):
        print(cls.Coll_name)
    def obj_display(self):
        print(self.name,self.age)
ramu=college("ram",56) # object creation
ramu.cls_display()
college.
ramu.obj_display()

pys
ram 56

17-augest-2023

In [ ]:
class Institue:
    Name_INS="IITM Institute"
    address="hyd"
    code="IITM"
    def __init__(self,name,age,email,phone,branch,roll,year,degree):
        self.name=name
        self.age=age
        self.email=email
        self.phone=phone
        self.branch=branch
        self.roll=roll
        self.year=year
        self.degree=degree
        
        var=branch[0:2]+"_"+degree[0:2]+"_"+str(year[2:])+roll[8:]+"@"+f"student.onlinedegree.{Institue.code}.ac.Institue"
        self.off_email=var
krishna=Institue("krishna",25,"krishna@gmail.com","9985898585","cse","IITM_CS_7814","2022","btech")

In [ ]:
Institue.__dict__

mappingproxy({'__module__': '__main__',
              'Name_INS': 'IITM Institute',
              'address': 'hyd',
              'code': 'IITM',
              '__init__': <function __main__.Institue.__init__(self, name, age, email, phone, branch, roll, year, degree)>,
              '__dict__': <attribute '__dict__' of 'Institue' objects>,
              '__weakref__': <attribute '__weakref__' of 'Institue' objects>,
              '__doc__': None})

In [ ]:
krishna.__dict__

{'name': 'krishna',
 'age': 25,
 'email': 'krishna@gmail.com',
 'phone': '9985898585',
 'branch': 'cse',
 'roll': 'IITM_CS_7814',
 'year': '2022',
 'degree': 'btech',
 'off_email': 'cs_bt_227814@student.onlinedegree.IITM.ac.Institue'}

In [ ]:

class Book:
    Title=input("enter the book Title")
    Author=input("enter the author")
    Desc=input("enter the description")
    Price=input("enetr the price")
    def __init__(self,Title,Author,Desc,Price):
        self.Title= Title
        self.Author=Author
        self.Desc=Desc
        self.Price=Price
        Title=inp ut("enter the book Title")
        Author=input("enter the author")
        Desc=input("enter the description")
        Price=input("enetr the price")
    def view(self):
        print("book name is :",self.Title)
        print("book Author is :",self.Author)
        print("book Desc is :",self.Desc)
        print("book Price is :",self.Price)
#a=Book("harry potter","J. K. Rowlin","Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry.","3177")
a=Book(None,None,None,None)
a.view()

book name is : None
book Author is : None
book Desc is : None
book Price is : None

In [ ]:
class Book:
    # Title=input("enter the book Title")
    # Author=input("enter the author")
    # Desc=input("enter the description")
    # Price=input("enetr the price")
    def __init__(self):
        self.Title= input("enter the book Title")
        self.Author= input("enter the author")
        self.Desc= input("enter the description")
        self.Price= input("enetr the price")
    def view(self):
        print("book name is :",self.Title)
        print("book Author is :",self.Author)
        print("book Desc is :",self.Desc)
        print("book Price is :",self.Price)
#a=Book("harry potter","J. K. Rowlin","Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry.","3177")
a=Book()
a.view()

book name is : hhf
book Author is : nfnf
book Desc is : nnfnf
book Price is : mffmfm

In [ ]:
class a:
    b=input("enter the num")
    def __init__(self):
        print("construcor is running")
        print(self.b)
    #def display(cls)

obj=a()

construcor is running
55

In [38]:
class Book:
    def __init__(self,Title,Author,Desc,Price):
        self.Title= Title
        self.Author=Author
        self.Desc=Desc
        self.Price=Price
    def view(self):
        print("book name is :",self.Title)
        print("book Author is :",self.Author)
        print("book Desc is :",self.Desc)
        print("book Price is :",self.Price)
#a=Book("harry potter","J. K. Rowlin","Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry.","3177")
Book1=Book("java","harry","java programming","1500")
Book2=Book("python","sam","python programming","1600")
Book1.view()
print("*"*50)
Book2.view()

book name is : java
book Author is : harry
book Desc is : java programming
book Price is : 1500
**************************************************
book name is : python
book Author is : sam
book Desc is : python programming
book Price is : 1600

In [40]:
Book1.Title

'java'

In [ ]:
class Book:
    publish="Epson"
    Adress="mysor"
    phone="1805429925"
    email="Epson@gmail.com"
    Usncode="HGT-858400"
    details={}
    def __init__(self,Title,Author,Desc,Price):
        self.Title= Title
        self.Author=Author
        self.Desc=Desc
        self.Price=Price
    def view(self):
        print("book name is :",self.Title)
        print("book Author is :",self.Author)
        print("book Desc is :",self.Desc)
        print("book Price is :",self.Price)
    @classmethod
    def contact_data(cls,key,value):
        cls.detailes[key]=value
    @classmethod
    def change_uns(cls):
        cls.usncode=Book.Usncode[:-1]+str(int(Book.usncode[-1])+1)
    @classmethod
    def all_details(cls):
        for i in cls.details:
            cls.view(cls.details[i])
            print("*"*50)


#a=Book("harry potter","J. K. Rowlin","Harry Potter is a series of seven fantasy novels written by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry.","3177")
Book1=Book("java","harry","java programming","1500")
Book2=Book("python","sam","python programming","1600")
Book3=Book("Django","sam","Django programming","1800")

# Book1.view()
# print("*"*50)
# Book2.view()

In [ ]:
Book1.view()

book name is : java
book Author is : harry
book Desc is : java programming
book Price is : 1500

In [ ]:
Book2.view()

book name is : python
book Author is : sam
book Desc is : python programming
book Price is : 1600

In [ ]:
Book3.view()

book name is : Django
book Author is : sam
book Desc is : Django programming
book Price is : 1800

In [ ]:
Book.all_details()

In [ ]:
class add:
    def __init__(self):
        self.a=int(input("enter the num1"))
        self.b=int(input("enter the num2"))
    def add1(self):
        self.c=self.a + self.b 
        print("sum of two num is : ",self.c)
a=add()
a.add1()

sum of two num is :  17

In [33]:
class Bank:
    bank="SBI"
    ifsc="SBIN000084"
    adress="hyd"
    ROI=7.7
    cust_no=0
    cust_details={}
    def __init__(self,c_name,c_phone,c_email,c_adress):
        self.c_name=c_name
        self.c_phone=c_phone
        self.c_adress=c_adress
        self.bal=500
        # self.inc_cust_no()
        # self.c_acc="101578"+str(self.cust_no)

    @staticmethod
    def bal():
           print(Bank.bank)
           print(Bank.ifsc)
    @classmethod
    def bal(cls):
        print("avaialable balance is :",cls.bal)

    @classmethod
    def deposit(cls):
        amount=int(input("enter the amount u want to deposit"))
        cls.bal+=amount
        print("after deposit the available balnace is :",cls.bal)
    def withdraw(cls):
        amount=int(input("enter the amount u want to deposit"))
        if cls.bal-500<amount:
            cls.bal-=amount
            print("your withdraw amount is :",amount)
            print("after withdraw the available balnace is :",cls.bal)
        else:
            print("u have unsufficent balance")
cust1=Bank("bhavani","8689888999","bhabani@123","hyd")

In [7]:
res=" "
a="pyspiders"
for i in a:
    res+=i
    print("".join(i))

p
y
s
p
i
d
e
r
s

In [13]:
cust1.__dict__

{'c_name': 'bhavani', 'c_phone': '8689888999', 'c_adress': 'hyd'}

In [14]:
Bank.bal()

SBI
SBIN000084

In [34]:
cust1.deposit()

TypeError: unsupported operand type(s) for +=: 'method' and 'int'

In [35]:
cust1.withdraw()

your withdraw amount is : 200
after withdraw the available balnace is : 300

In [2]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    list1 = list(
        [i,j,k]
        
        for i in range(0, x+1)
        for j in range(0, y+1)
        for k in range(0, z+1)
        if (i+j+k) != n
    )
    
    print(list1)

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2], [2, 0, 0], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1]]

22/2/2023
oops concept

In [21]:
#creating a sqlite datbase
import sqlite3
db=sqlite3.connect("emp.db")
print(db)
cursor=db.cursor()
cursor.execute("create table com_emp(id int primary key,name varchar(50),email varchar(50),phone big int, adress varchar(50),gender varchar(10),age int,doj varchar(30))")
print(cur.rowcount)
db.commit()

<sqlite3.Connection object at 0x000002B997FFF100>

OperationalError: table com_emp already exists

In [22]:
class company:
    com_name="tcs"
    adress="hyd"
    website="www.TCS.co.in"
    emp_count=0
    def __init__(self,name,email,phone,adress,gender,age,doj):
        self.name=name
        self.email=email
        self.phone=phone
        self.adress=adress
        self.gender=gender
        self.age=age
        self.doj=doj
        self.off_email=self.name+str(self.phone)[-4:]+"@"+self.com_name+".com"
        self.inc_emp_count()
        self.id="tcs-125"+str(self.emp_count)
        n=int(input("enter the option 1.commit/n 2.canel/n"))
        if n==1:
            cursor.execute("insert into com_emp(id,name,email,phone,adress,gender,age,doj) values(?,?,?,?,?,?,?,?)",[self.id,self.name,self.email,self.phone,self.adress,self.gender,self.age,self.doj])
            db.commit()
        else:
            print("plese enter the valid value")

    @classmethod
    def inc_emp_count(cls):
        cls.emp_count+=1

    @staticmethod
    def Display():
        cursor.execute("select * from com_emp")
        res=cursor.fetchall()
        for i in res:
            print("id: ",i[0])
            print("name: ",i[1])
            print("phone: ",i[2])
            print("adress: ",i[3])
            print("gender: ",i[4])
            print("age: ",i[5])
            print("doj: ",i[6])



emp1=company("bhavni","bhavani@hmail.com",8899552211,"hyd","male",25,"20-08-2023")
emp2=company("ram","ram@gmail.com",9955884455,"mbnr","male",23,"27-09-2023")

IntegrityError: UNIQUE constraint failed: com_emp.id

In [8]:
emp1.__dict__

{'name': 'bhavni',
 'email': 'bhavani@hmail.com',
 'phone': 8899552211,
 'adress': 'hyd',
 'gender': 'male',
 'age': 25,
 'doj': '20-08-2023',
 'off_email': 'bhavni2211@tcs.com',
 'id': 'tcs-1251'}

In [9]:
emp2.__dict__

{'name': 'ram',
 'email': 'ram@gmail.com',
 'phone': 9955884455,
 'adress': 'mbnr',
 'gender': 'male',
 'age': 23,
 'doj': '27-09-2023',
 'off_email': 'ram4455@tcs.com',
 'id': 'tcs-1252'}

In [10]:
company.Display()

id:  tcs-1251
name:  bhavni
phone:  bhavani@hmail.com
adress:  8899552211
gender:  hyd
age:  male
doj:  25
id:  tcs-1252
name:  ram
phone:  ram@gmail.com
adress:  9955884455
gender:  mbnr
age:  male
doj:  23

In [31]:
import sqlite3
def dbconnect(fun):
    def inner(*args,**kwargs):
        db=sqlite3.connect("student.db")
        cursor=db.cursor()
        res=fun(db,cursor,*args,**kwargs)
        print(cursor.rowcount,"record is effected")
        db.commit()   
        db.close()
    return inner
@dbconnect
def id_inc(db,cursor):
    res=cursor.execute("selcet id from student").fetchall()
    l=sorted([i[0] for i in res])[-1]+1
    return l

@dbconnect
def create(db,cursor):
    cursor.execute("create table student(id int,name varchar(20))")
#create()


@dbconnect
def insert(db,cursor):
    id=input("enter the student id")
    name=input("enter the student name")
    val=[id,name]
    cursor.execute("insert into student(id,name) values(?,?)",val)
#insert()

@dbconnect
def select(db,cursor):
    cursor.execute("select * from student")
    res=cursor.fetchall()
    for i in res:
        print(i)
#select()

@dbconnect
def update(db,cursor):
    up=[input("enter the updated name :")]
    cursor.execute("update student set name=? where id=2",up)
#update()

@dbconnect
def delete(db,cursor):
    cursor.execute(" delete from student where id=3")
#delete()

In [27]:
class BankAccount:
    ifsc="SBIN0007435"
    accountNumber="SBIN-00"
    def __init__(self):
        self.name=input("enter the name of customer")
        self.email=input("enter the email of customer")
        self.password=input("enter the password")
        self.phone=int(input("enter the phone number"))
        self.balance=int(input("enter the balance"))
   
    @classmethod
    def Deposite(cls):
        damount=int(input("enter the deposite amount"))
        self.balance+=damount
        print("the balance after the Deposite: ",self.balance)

    @classmethod
    def Withdraw(cls):
        wamount=int(input("enter the amount tobe withdraw"))
        self.balance+=wamount
        print("balance after withdraw : ",self.balance)

b=BankAccount()

In [217]:
#creation of table
import sqlite3
db=sqlite3.connect("Bank.db")
cursor=db.cursor()
cursor.execute("create table if not exists Bank(id int ,accountNumber varchar(30),name varchar(20),email varchar(20),password varchar(20),phone big int ,ifsc varchar(50),balance big int) ")
print(cursor.rowcount)
db.commit()
db.close()

-1

In [220]:
def acoount_creation():
    import sqlite3
    db=sqlite3.connect("Bank.db")
    cursor=db.cursor()
    id=int(input("enter the id :"))
    accountNumber="SBIN-85898"+str(id) 
    name=input("enter the name of customer")
    email=input("enter the email of customer")
    password=input("enter the password")    
    phone=int(input("enter the phone number"))
    balance=500 
    ifsc="SBIN000354"
    val=[id,accountNumber,name,email,password,phone,ifsc,balance]
    cursor.execute("insert into Bank(id,accountNumber,name,email,password,phone,ifsc,balance) values(?,?,?,?,?,?,?,?)",val)
    rowcount=cursor.rowcount
    db.commit()
    db.close()
    if rowcount==1:
        print("you acoount is created")
acoount_creation()

you acoount is created

In [211]:
#depositing the amount
def deposite
import sqlite3
db=sqlite3.connect("Bank.db")
cursor=db.cursor()
cursor.execute("select balance from bank where id=2")
res=cursor.fetchone()
id=int(input("enter the user id"))
damount=int(input("enter the deposite amount :"))+int(res[0])
cursor.execute("update Bank set balance=? where id=? ",[damount,id])
db.commit()
db.close()

In [16]:
#with draw the amount
import sqlite3
db=sqlite3.connect("Bank.db")
cursor=db.cursor()
identity=input("enter the user id : ")
val=[identity]
cursor.execute("select balance from bank where id=?",val)
res=cursor.fetchone()
wamount=int(res[0])-int(input("enter the withdraw amount :"))
if 0>=wamount:
    print("Please enter the amount less than the balance")
    print("your balance is: ",res[0])
cursor.execute("update Bank set balance=? where id=?",[wamount,identity])
db.commit()
db.close()

In [17]:
import sqlite3
db=sqlite3.connect("Bank.db")
cursor=db.cursor()
cursor.execute("select * from bank")
res=cursor.fetchall()
for i in res:
    print(i)

(1, 'SBIN-858981', 'hii', 'hii@gmail.com', 'df31223r', 8899554477, 'SBIN000354', 300)
(2, 'SBIN-858982', 'ram', 'ram@gmail.com', 'k;fjAL32', 8855447799, 'SBIN000354', 131500)

In [186]:
#creation of table for 
import sqlite3
db=sqlite3.connect("Bank.db")
cursor=db.cursor()
cursor.execute("create table if not exists transcation(id int,account varchar(50),name varchar(20),states varchar(2),amount big int)")
db.commit()
db.close()

In [203]:
#insertion of values in transcation
import sqlite3
db=sqlite3.connect("Bank.db")
cursor=db.cursor()
id=print("enter the transaction id")
cursor.execute("select * from bank")
res=cursor.fetchall()
print(res)
account=res[0][1]
name=res[0][2]
states=""
amount=[6]
val=[id,account,name,states,amount]
cursor.execute("insert into tanscation(id,account,name,states,amount) values(?,?,?,?,?)",val)

enter the transaction id
[(1, 'SBIN-858981', 'hii', 'hii@gmail.com', 'df31223r', 8899554477, 'SBIN000354', 300), (2, 'SBIN-858982', 'ram', 'ram@gmail.com', 'k;fjAL32', 8855447799, 'SBIN000354', 131500)]

In [208]:
res[0]

(1,
 'SBIN-858981',
 'hii',
 'hii@gmail.com',
 'df31223r',
 8899554477,
 'SBIN000354',
 300)

In [4]:
import sqlite3
count=int(input("enter the number of singers"))
count_number_of_album_publish=0

class Singers:
    details={}

    def __init__(self):
        self.singer_id=input("enter the singer id")
        self.singer_name=input("enter the singer name")
        self.singer_adress=input("enter the singer adress")
        self.date_of_birth=input("enter the singer date of birth")
        self.number_of_album_publish=input("enter the number of album publish").split()
        self.count1=len(self.number_of_album_publish)

        
    def disaply(self):
        print("singer id : ",self.singer_id)
        print("singer name: ",self.singer_name)
        print("singer adress: ",self.singer_adress)
        print("singer D_O_B : ",self.date_of_birth)
        print("number of album publish:",self.number_of_album_publish)
        print("number of album published is: ",self.count1)

    
    @classmethod
    def all_details(cls,key,*value):
        cls.details[key]=[value]
        print(cls.details)



def specific_singer_details():
        a=(input("enter the singer id to fetch the details :"))
        print(s.details[a])

#specific_singer_details()

def append_singer_album():
    b=input("enter the singer id to modify singer album")
    add=input("enter the record to be added").split()
    print("befeore modifying album",s.details[b][-1][-1])
    l=list(s.details[b][-1][-1])
    l+=add
    print("after modifying album:",l)

#append_singer_album() 

def modify_singer_album():
    c=input("enter the singer id to modify singer album")
    count2=-1
    print("before modify",s.details[c][-1][-1])
    for i in s.details[c][-1][-1]:
        count2+=1
        modify=input(f" do u want to modify {i} if yes press y \n else print n").upper()
        if modify=="Y":
            modified_value=input(f"enter the another name for the album instead of {i}")
            print(f"you have modifed the {s.details[c][-1][-1][count2]} : to {modified_value}")
            s.details[c][-1][-1][count2]=modified_value
    print("after modify",s.details[c][-1][-1])

#modify_singer_album()



def delete_singer_details():
    c=input("enter the singer id to delete singer details")
    del s.details[c]
    print("details after the deletion :",s.details)
#delete_singer_details()

def dbconnect(fun):
    def inner(*args,**kwargs):
        db=sqlite3.connect("singers.db")
        cursor=db.cursor()
        res=fun(db,cursor,*args,**kwargs)
        print(cursor.rowcount,"record is effected")
        db.commit()   
        db.close()
    return inner

@dbconnect
def create(db,cursor):
    cursor.execute("create table if not exists singers(singer_id int,singer_name varchar(20),singer_adress varchar(50),D_O_B varchar(50),number_of_albumb_published varchar(50))")
create()


@dbconnect
def insert(db,cursor):
    singer_id=s.singer_id
    singer_name=s.singer_name
    singer_adress=s.singer_adress
    D_O_B=s.date_of_birth
    number_of_albumb_published=s.count1
    val=[singer_id,singer_name,singer_adress,D_O_B,number_of_albumb_published]
    cursor.execute("insert into singers(singer_id,singer_name,singer_adress,D_O_B,number_of_albumb_published) values(?,?,?,?,?)",val)



for i in range(0,count):
    s=Singers()
    s.disaply()
    s.all_details(s.singer_id,s.singer_name,s.singer_adress,s.date_of_birth,s.number_of_album_publish)
    insert()
    count_number_of_album_publish+=s.count1
print("count total number of albums :",count_number_of_album_publish)

   #specific_singer_details()
    #delete_singer_details()
    #modify_singer_album()
    # delete_singer_details()
modify_data=input("DO u want any modifications if yes press Y else press n ").upper()
if modify_data=="Y":
    n=(input("if u want to to 1.specific_singer_details\n2.append_singer_album\n 3.modify_singer_album \n4.delete_singer_details()"))
    match(n):
        case "1":
            specific_singer_details()
            print("your are successfully retrived the data")
        case '2':
            append_singer_album() 
            print("u r succesfully modify the data")
        case "3":
            modify_singer_album()
            print("u r sucessfully modified the data")
        case '4':
            delete_singer_details()
            print("u r succesfully deleted the data")
        case _:
            print("please! enter the valid entry")
else:
    pass
    print("you are succesfully terminated without modifying any of the the data without modifying")

singer id :  1
singer name:  bhavani
singer adress:  hyd
singer D_O_B :  10/12/2000
number of album publish: ['djsk', 'adfs', 'asdf', 'asdf', 'asdf']
number of album published is:  5
{'1': [('bhavani', 'hyd', '10/12/2000', ['djsk', 'adfs', 'asdf', 'asdf', 'asdf'])]}
1 record is effected
singer id :  2
singer name:  shankar
singer adress:  vizg
singer D_O_B :  11/10/1999
number of album publish: ['DAJK', 'dasjklA', 'ad', 'ADS', 'ajk', 'AKJH', 'DAL']
number of album published is:  7
{'1': [('bhavani', 'hyd', '10/12/2000', ['djsk', 'adfs', 'asdf', 'asdf', 'asdf'])], '2': [('shankar', 'vizg', '11/10/1999', ['DAJK', 'dasjklA', 'ad', 'ADS', 'ajk', 'AKJH', 'DAL'])]}
1 record is effected
count total number of albums : 12
you are succesfully terminated without terminating the data without modifying

In [34]:
modify_data=input("DO u want any modifications if yes press Y else press n ").upper()
if modify_data=="Y":
    n=(input("if u want to to 1.specific_singer_details\n2.append_singer_album\n 3.modify_singer_album \n4.delete_singer_details()"))
    match(n):
        case "1":
            specific_singer_details()
            print("your are successfully retrived the data")
        case '2':
            append_singer_album() 
            print("u r succesfully modify the data")
        case "3":
            modify_singer_album()
            print("u r sucessfully modified the data")
        case '4':
            delete_singer_details()
            print("u r succesfully deleted the data")
        case _:
            print("please! enter the valid entry")
else:
    pass
    print("you are succesfully terminated without modifying any of the the data without modifying")

[('bhavani', 'hyd', '10/12/2000', ['ant', 'ball', 'car', 'dove', 'eagle'])]
your are successfully retrived the data

In [23]:
def modify_singer_album():
    c=input("enter the singer id to modify singer album")
    count2=-1
    print("before modify",s.details[c][-1][-1])
    for i in s.details[c][-1][-1]:
        count2+=1
        modify=input(f" do u want to modify {i} if yes press y \n else print n").upper()
        if modify=="Y":
            modified_value=input(f"enter the another name for the album instead of {i}")
            print(f"you have modifed the {s.details[c][-1][-1][count2]} : to {modified_value}")
            s.details[c][-1][-1][count2]=modified_value
    print("after modify",s.details[c][-1][-1])

modify_singer_album()

before modify ['ant', 'ball', 'car', 'dog', 'eagle']
you have modifed the dog : to dove
after modify ['ant', 'ball', 'car', 'dove', 'eagle']

In [25]:
Singers.details

{'1': [('bhavani',
   'hyd',
   '10/12/2000',
   ['ant', 'ball', 'car', 'dove', 'eagle'])],
 '2': [('shankar',
   'vizg',
   '11/10/1999',
   ['apple', 'dasjklA', 'ad', 'ADS', 'ajk', 'AKJH', 'cat'])]}

In [27]:
#another metof for modifying data
# def modify_singer_album():
#     c=input("enter the singer id to modify singer album")
#     res=s.details[c][-1][-1]
#     print("before modify ",res)
#     count=None
#     st=""
#     for i in range(len(res)):
#         modify=input(f" do u want to modify {res} if yes press y \n else print n").upper()
#         if modify=="Y":
#             count=i
#             st=input(f"enter the another name for the album instead of {res}")
#     print(count)
#     if count!=None:
#         s.details[c][-1][-1][count]=st
#     print("after modify",res)
# modify_singer_album()

In [44]:
s.details["2"][-1][-1]

['uuuu', 'hellow', 'byee']

In [37]:
s.details["2"][-1][-1][0]

'uuuu'

In [15]:
a=len(s.details["3"][-1][-1])
print(type(a))

<class 'int'>

In [114]:
#specific_singer_details()
#
#delete_singer_details()
n=(input("if u want to to 1.specific_singer_details\n2.modify_singer_album\n3.delete_singer_details()"))
match(n):
    case "1":
        specific_singer_details()
        print("your are successfully retrived the data")
    case '2':
        append_singer_album() 
        print("u r succesfully modify the data")
    case '3':
        delete_singer_details()
        print("u r succesfully deleted the data")
    case _:
         print("please! enter the valid entry")

befeore modifying album ['apple', 'ball', 'cat', 'dog']
after modifying album: ['apple', 'ball', 'cat', 'dog']
u r succesfully modify the data

In [7]:
count=int(input("enter the number of singers"))
count_number_of_album_publish=0

class Singers:
    details={}

    def __init__(self):
        self.singer_id=input("enter the singer id")
        self.singer_name=input("enter the singer name")
        self.singer_adress=input("enter the singer adress")
        self.date_of_birth=input("enter the singer date of birth")
        self.number_of_album_publish=input("enter the number of album publish").split()
        self.count1=len(self.number_of_album_publish)
    def disaply(self):

        print("singer id : ",self.singer_id)
        print("singer name: ",self.singer_name)
        print("singer adress: ",self.singer_adress)
        print("singer D_O_B : ",self.date_of_birth)
        print("number of album publish:",self.number_of_album_publish)
        print("number of album published is: ",self.count1)
        
    
    @classmethod
    def all_details(cls,key,*value):
        cls.details[key]=[value]
        print(cls.details)
          
    
for i in range(0,count):
    s=Singers()
    s.disaply()
    s.all_details(s.singer_id,s.singer_name,s.singer_adress,s.date_of_birth,s.number_of_album_publish)
    count_number_of_album_publish+=s.count1
print("count of all albums:",count_number_of_album_publish)

def specific_singer_details():
        a=(input("enter the singer id to fetch the details :"))
        print(s.details[a])

#specific_singer_details()
def appened_singer_album():
    b=input("enter the singer id to modify singer album")
    add=input("enter the record to be added").split()
    print("befeore modifying album",s.details[b][-1][-1])
    l=list(s.details[b][-1][-1])
    l+=add
    print("after modifying album:",l)
#append_singer_album() 


def delete_singer_details():
    c=input("enter the singer id to delete singer details")
    del s.details[c]
    print("details after the deletion :",s.details)
#delete_singer_details()

singer id :  1
singer name:  adsf
singer adress:  afsd
singer D_O_B :  asfd
number of album publish: ['ads', 'a', 's', 'dfdsa', 'afds', 'io']
number of album published is:  6
{'1': [('adsf', 'afsd', 'asfd', ['ads', 'a', 's', 'dfdsa', 'afds', 'io'])]}
singer id :  2
singer name:  kajsd.f
singer adress:  aksjfd
singer D_O_B :  sbd
number of album publish: ['asd', 'ads', 'asd', 'ads', 'ads', 'asd', 'das', 'as', 'saasas', 'das', 'as', 'as', 'a']
number of album published is:  13
{'1': [('adsf', 'afsd', 'asfd', ['ads', 'a', 's', 'dfdsa', 'afds', 'io'])], '2': [('kajsd.f', 'aksjfd', 'sbd', ['asd', 'ads', 'asd', 'ads', 'ads', 'asd', 'das', 'as', 'saasas', 'das', 'as', 'as', 'a'])]}
count of all albums: 19

In [201]:
import sqlite3
def dbconnect(fun):
    def inner(*args,**kwargs):
        db=sqlite3.connect("singers.db")
        cursor=db.cursor()
        res=fun(db,cursor,*args,**kwargs)
        print(cursor.rowcount,"record is effected")
        db.commit()   
        db.close()
    return inner

@dbconnect
def create(db,cursor):
    cursor.execute("create table if not exists singers(singer_id int,singer_name varchar(20),singer_adress varchar(50),D_O_B varchar(50),number_of_albumb_published varchar(50))")
create()


@dbconnect
def insert(db,cursor):
    singer_id=s.singer_id
    singer_name=s.singer_name
    singer_adress=s.singer_adress
    D_O_B=s.date_of_birth
    number_of_albumb_published=s.count1
    val=[singer_id,singer_name,singer_adress,D_O_B,number_of_albumb_published]
    cursor.execute("insert into singers(singer_id,singer_name,singer_adress,D_O_B,number_of_albumb_published) values(?,?,?,?,?)",val)
insert()

def delete(db,cursor):
    cursor.execute("drop singers id where id")

-1 record is effected
1 record is effected

In [24]:
import json
d={10:10.5,True:False,'''hellowworld''':(10,20,30),"abc":None,10.6:{"a":10}}
print(d,type(d))#python contenet
res=json.dumps(d)
print(res,type(d))#json contenet

print("___"*30)

print(res,type(res))#json contect
temp=json.loads(res)
print(temp,type(temp))#python content

{10: 10.5, True: False, 'hellowworld': (10, 20, 30), 'abc': None, 10.6: {'a': 10}} <class 'dict'>
{"10": 10.5, "true": false, "hellowworld": [10, 20, 30], "abc": null, "10.6": {"a": 10}} <class 'dict'>
__________________________________________________________________________________________
{"10": 10.5, "true": false, "hellowworld": [10, 20, 30], "abc": null, "10.6": {"a": 10}} <class 'str'>
{'10': 10.5, 'true': False, 'hellowworld': [10, 20, 30], 'abc': None, '10.6': {'a': 10}} <class 'dict'>

In [7]:
import json
fp=open("file.json",'w')
d={10:10.5,True:False,'''hellowworld''':(10,20,30),"abc":None,10.6:{"a":10}}
print(d,type(d))#python contenet
res=json.dumps(d)
fp.write(res)
fp.close()

print("_ _"*30)
fp=open("file.json",'r')
res=fp.read()
temp=json.loads(res)
print(temp,type(temp))#python content
fp.close( 0)

{10: 10.5, True: False, 'hellowworld': (10, 20, 30), 'abc': None, 10.6: {'a': 10}} <class 'dict'>
_ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ __ _
{'10': 10.5, 'true': False, 'hellowworld': [10, 20, 30], 'abc': None, '10.6': {'a': 10}} <class 'dict'>

In [20]:
import json
fp=open("file2.json","w")
d={10:10.5,True:False,'''helloworld''':(10,20,30),"abc":None,10.6:{"a":10}}
json.dump(d,fp)
fp.close()
print(" _ "*30)

fp=open("file2.json",'r')
temp=json.load(fp)
print(temp,type(temp))#python content
fp.close()

 _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _
{'10': 10.5, 'true': False, 'helloworld': [10, 20, 30], 'abc': None, '10.6': {'a': 10}} <class 'dict'>

In [33]:
import pickle
d={10:10.5,True:False,'''helloworld''':(10,20,30),"abc":None,10.6:{"a":10}}
print(d,type(d))
res=pickle.dumps(d)
print(res)
  
print("____"*50)  
#binary to python conversion
print(res,type(res))
temp=pickle.loads(res)
print(temp,type(temp))

{10: 10.5, True: False, 'helloworld': (10, 20, 30), 'abc': None, 10.6: {'a': 10}} <class 'dict'>
b'\x80\x04\x95@\x00\x00\x00\x00\x00\x00\x00}\x94(K\nG@%\x00\x00\x00\x00\x00\x00\x88\x89\x8c\nhelloworld\x94K\nK\x14K\x1e\x87\x94\x8c\x03abc\x94NG@%333333}\x94\x8c\x01a\x94K\nsu.'
________________________________________________________________________________________________________________________________________________________________________________________________________
b'\x80\x04\x95@\x00\x00\x00\x00\x00\x00\x00}\x94(K\nG@%\x00\x00\x00\x00\x00\x00\x88\x89\x8c\nhelloworld\x94K\nK\x14K\x1e\x87\x94\x8c\x03abc\x94NG@%333333}\x94\x8c\x01a\x94K\nsu.' <class 'bytes'>
{10: 10.5, True: False, 'helloworld': (10, 20, 30), 'abc': None, 10.6: {'a': 10}} <class 'dict'>

In [43]:
#by using the file
import pickle
d={10:10.5,True:False,'''helloworld''':(10,20,30),"abc":None,10.6:{"a":10}}
fp=open("file3.pickel","wb")
res=pickle.dumps(d)
fp.write(res)
fp.close()
print(res,type(res))
print("____"*50)
#reading the byte contant of the file
fp=open("file3.pickel","rb")
temp=pickle.loads(res)
print(temp,type(res))
fp.read()
fp.close()

b'\x80\x04\x95@\x00\x00\x00\x00\x00\x00\x00}\x94(K\nG@%\x00\x00\x00\x00\x00\x00\x88\x89\x8c\nhelloworld\x94K\nK\x14K\x1e\x87\x94\x8c\x03abc\x94NG@%333333}\x94\x8c\x01a\x94K\nsu.' <class 'bytes'>
________________________________________________________________________________________________________________________________________________________________________________________________________
{10: 10.5, True: False, 'helloworld': (10, 20, 30), 'abc': None, 10.6: {'a': 10}} <class 'bytes'>

In [44]:
#reading the file withoud then write or read function
import pickle
d={10:10.5,True:False,'''helloworld''':(10,20,30),"abc":None,10.6:{"a":10}}
fp=open("file4.json","wb")
res=pickle.dump(d,fp)
print(res,type(res))
fp.close()

None <class 'NoneType'>

In [15]:
a=5
b=()
c=b+(a,)
print(c)

(5,)

In [19]:
a=-58
b=a/10
print(b)

-5.8

In [56]:
a=-58
if a%2==0:
    print("even :",a)
    rem=a%10
    print(rem)
    #div=divisor *quotient+rem
    #-rem=-58*x+10

even : -58
2

In [53]:
a=10
l=list([10])
print(l,type(l))

[10] <class 'list'>

In [47]:
for i in range(1,11):
    print("5 * ",i,"=",5*i)

5 *  1 = 5
5 *  2 = 10
5 *  3 = 15
5 *  4 = 20
5 *  5 = 25
5 *  6 = 30
5 *  7 = 35
5 *  8 = 40
5 *  9 = 45
5 *  10 = 50

In [113]:
m=25
if type(m)==int:
    print("hii")

hii

In [7]:
import re
data='''welcome to new world +92 9988775566 
 and +918974512632 and 6544887766 1800 985 456 1800668477 2586959886  '''
res=re.findall('\+[0-9]{2}\s?[6789]{1}[0-9]{9}',data)
print(res)

['+92 9988775566', '+918974512632']

In [14]:
import re
data='''welcome to new world +92 9988775566 
 and +918974512632 and 6544887766 1800 985 456 1800668477 2586959886  '''
res=re.findall('[16789]{1}\d{3}\s?\d{3}\s?\d{3}',data)
print(res)

['9988775566', '9189745126', '6544887766', '1800 985 456', '1800668477']

In [ ]:
import re
data='''welcome to new world +92 9988775566 
 and +918974512632 and 6544887766 1800 985 456 1800668477 2586959886  '''
res=re.findall('\+[0-9]{2}\s?[6789]{1}[0-9]{9} | [16789]{1}\d{3}\s?\d{3}\s?\d{3}',data)
print(res)

['+92 9988775566 ', '+918974512632 ', ' 6544887766', ' 1800 985 456', ' 1800668477']

In [1]:
print("hii")

hii

In [30]:
class Parent:
    a=10
    def __init__(self):
        self.b=200
        print("b value is :",self.b)
    def 

class child(Parent):
    c=30
    def __init__(self):
        super().__init__()
        self.d=20
        print("the value d is :",self.d)
c1=child()
print(c1.a,c1.c)
print(c1.d)
print(Parent().b)

b value is : 200
the value d is : 20
10 30
20
b value is : 200
200

In [33]:
#calling the 
class Mobile:
    brand="apple"
    os="apple os"
    def __init__(self,series,prize,color):
        self.series=series
        self.prize=prize
        self.color=color
        print(self.series,self.prize,self.color)
class M2(Mobile):
    phone=1800168172
    adress="HYD"
obj=M2("moo2",1500,"black")

moo2 1500 black