In [23]:
print("hii")

hii

In [24]:
#connection of sql to the python
import sqlite3
db=sqlite3.connect("employee.db")
print(db)

<sqlite3.Connection object at 0x000002440873CA90>

In [34]:
import sqlite3
db=sqlite3.connect("employee.db")
print(db)
cur=db.cursor()
cur.execute("create table employee(id int primary key,name varchar(50),email varchar(50),phone big int)")
print(cur.rowcount)
db.commit()
db.close()

<sqlite3.Connection object at 0x0000024408832980>
-1

In [35]:
import sqlite3
db=sqlite3.connect("employee.db")
print(db)
cur=db.cursor()
cur.execute('insert into employee(id,name,email,phone) values(1,"bhavani","bhavni@gmail.com",868884926),(2,"ram","ram@gmail.com",9977885599)')
print(cur.rowcount)
db.commit()
db.close()

<sqlite3.Connection object at 0x00000244088222F0>
2

In [37]:
import sqlite3
db=sqlite3.connect("employee.db")
print(db)
cur=db.cursor()
cur.execute("update employee set phone=868884926 where id=2")
db.commit()
db.close()

<sqlite3.Connection object at 0x00000244088222F0>

In [38]:
import sqlite3
db=sqlite3.connect("employee.db")
print(db)
cur=db.cursor()
cur.execute("delete from employee where id=2")
db.commit()
db.close()

<sqlite3.Connection object at 0x0000024408832980>

In [41]:
import sqlite3
db=sqlite3.connect("employee.db")
print(db)
cur=db.cursor()
cur.execute("select * from employee")
res=cur.fetchall()
for i in res:
    print(i)
db.commit()
db.close()

<sqlite3.Connection object at 0x0000024408832980>
(1, 'bhavani', 'bhavni@gmail.com', 868884926)

In [42]:
import sqlite3
db=sqlite3.connect("employee.db")
print(db)
cur=db.cursor()
cur.execute("delete from employee where id=2")
db.commit()
db.close()

<sqlite3.Connection object at 0x00000244088949A0>

In [43]:
import sqlite3
db=sqlite3.connect("coustomer.db")
cursor=db.cursor()

def create_table(cur,qury):
    cur.execute(qury)
    print(cur.rowcount,"affected")
    db.commit()
query=''' create table customer(cid int primary key,
name varchar(50) not null,
email varchar(50) unique not null,
phone big int unique not null,
gender varchar(10) not null,
age int not null
) '''
create_table(cursor,query)

-1 affected

In [47]:
def insert_record(cus,id,name,email,phone,gender,age):
    val=[id,name,email,phone,gender,age]
    cus.execute('insert into customer(cid,name,email,phone,gender,age) values(?,?,?,?,?,?)',val)
    print(cus.rowcount,"affected")
    db.commit()
insert_record(cursor,id=1,name="bhavni",email="bhavani@gmail.com",phone=8688895631,gender="Male",age=26)
insert_record(cursor,2,"ramu","ramu@gmail.com",9988556633,"male",28)

1 affected

In [52]:
#selcting the record
def select_record(cus,table):
    val=[table]
    cus.execute(f"select * from {table}")
    res=cur.fetchall()
    for i in res:
        print(i)
    db.commit()
select_record(cursor,"customer")

ProgrammingError: Cannot operate on a closed database.